.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-right: 50px;
};
@media only screen and (max-width: 992px) {
    .main {
        grid-template-columns: 2fr 1fr;
    }

}
@media only screen and (max-width: 600px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }

}
